<div class="container mt-4 table-responsive">
    <h2 class="text-center mb-4">Listado de Grúas</h2>
    <table class="table table-bordered  table-hover ">
      <thead class="">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Modelo</th>
          <th scope="col">Número de Serie</th>
          <th scope="col">Placa</th>
          <th scope="col">Tipo</th>
          <th scope="col">Editar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let grua of gruas">
          <th scope="row">{{ grua.id_grua }}</th>
          <td>{{ grua.modelo }}</td>
          <td>{{ grua.numero_serie }}</td>
          <td>{{ grua.placa }}</td>
          <td>{{ grua.tipo_grua }}</td>
          <td>
            <button class="btn btn-primary" (click)="abrirModal(grua)">Editar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
