/* Estilo del fondo */
.login-container {
   

  }
  
  /* Sombra y borde de la tarjeta */
  .card {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semitransparente */
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.2);
  }
  
  /* Botones redondeados */
  .btn-block {
    font-size: 1.1rem;
    font-weight: 500;
  }
  
  /* Etiquetas */
  label {
    font-size: 0.9rem;
    font-weight: 600;
  }
  
  /* Campo de entrada redondeado */
  .form-control {
    padding: 0.75rem 1rem;
    font-size: 1rem;
  }
  

  /* Estilo para el logo */
.logo-container {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%; /* Hace que el contenedor sea circular */
    background-color: #fff; /* Fondo blanco */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Imagen del logo */
  .logo-img {
    width: 70%; /* Tamaño ajustable del logo dentro del círculo */
    height: auto;
  }