<div class="container mt-5">
    <h2 class="text-center mb-4">Test</h2>
    
    <!-- Mostrar un mensaje si no hay clientes -->
    <div *ngIf="clientes.length === 0" class="alert alert-info text-center">
      No hay clientes disponibles para mostrar.
    </div>
  
    <!-- Tabla para mostrar la lista de clientes -->
    <div *ngIf="clientes.length > 0">
      <table class="table table-striped table-bordered">
        <thead class="">
          <tr class="table-info">
            <th>#</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.apellido }}</td>
            <td>{{ cliente.direccion }}</td>
            <td>{{ cliente.telefono }}</td>
            <td>{{ cliente.email }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  