<div class="container mt-4">
  <div class="row">
    <!-- Lista de Viajes -->
    <div class="lista col-md-4">
      <h4>Lista de Viajes</h4>
      <ul class="list-group">
        <li 
          *ngFor="let viaje of viajes" 
          class="list-group-item d-flex justify-content-between align-items-center"
          [class.active]="selectedViaje === viaje"
          (click)="onSelectViaje(viaje)">
          Viaje #{{ viaje.id_viaje }}
          <span class="badge bg-success rounded-pill">
            {{ (clientes[viaje.id_cliente]?.nombre || 'N/A') + '-' + (conductores[viaje.id_conductor]?.nombre || 'N/A') }}
          </span>
        </li>
      </ul>
    </div>

    <!-- Mapa e Información del Viaje -->
    <div class="col-md-8">
      <div id="map" style="height: 400px; width: 100%;" class="border rounded shadow-sm"></div>
      
      <!-- Información del Viaje -->
      <div class="mt-3 p-3 bg-light border rounded shadow-sm">
        <h5>Información del Viaje</h5>
        <p><strong>Origen:</strong> {{ origenDireccion }}</p>
        <p><strong>Destino:</strong> {{ destinoDireccion }}</p>
        <p><strong>Distancia:</strong> {{ distancia }}</p>
        <p><strong>costo neto:</strong> {{ precio_neto }}</p>
        <p><strong>costo iva:</strong> {{ precio_iva }}</p>
        <p><strong>costo total:</strong> {{ precio_total }}</p>
        
      </div>
      
      <!-- Detalles del Viaje -->
      <div *ngIf="selectedViaje" class="mt-3 p-3 bg-white border rounded shadow-sm">
        <h5>Detalles del Viaje</h5>
        <p>
          <strong>Cliente:</strong> 
          {{ clientes[selectedViaje.id_cliente]?.nombre || 'No disponible' }}
          <button 
            *ngIf="clientes[selectedViaje.id_cliente]" 
            class="btn btn-outline-info btn-sm rounded-circle ms-2" 
            (click)="mostrarInfoCliente(selectedViaje.id_cliente)">
            <i class="fas fa-question"></i>
          </button>
        </p>
        <p>
          <strong>Conductor:</strong> 
          {{ conductores[selectedViaje.id_conductor]?.nombre || 'No disponible' }}
          <button 
            *ngIf="conductores[selectedViaje.id_conductor]" 
            class="btn btn-outline-info btn-sm rounded-circle ms-2" 
            (click)="mostrarInfoConductor(selectedViaje.id_conductor)">
            <i class="fas fa-question"></i>
          </button>
        </p>
        <p><strong>Tipo de Grúa:</strong> {{ selectedViaje.tipo_grua || 'No disponible' }}</p>
        <p><strong>Modelo de Auto:</strong> {{ selectedViaje.modelo_del_auto || 'No disponible' }}</p>
        <p><strong>Placas:</strong> {{ selectedViaje.placas_cliente || 'No disponible' }}</p>
        <p><strong>Comentario cliente:</strong> {{ selectedViaje.comentario_cliente || 'sin comentario' }}</p>
        <p><strong>Comentario conductor:</strong> {{ selectedViaje.comentario_conductor || 'sin comentario' }}</p>

      </div>

      <!-- Botón de Reinicio -->
      <button class="btn btn-danger mt-3 w-100" (click)="resetViaje()" *ngIf="selectedViaje">Reiniciar Viaje</button>
    </div>
  </div>
</div>
