<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let viaje of viajes" (click)="onSelectViaje(viaje)">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">{{ viaje.conductor.nombre }} {{ viaje.conductor.apellido }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ viaje.usuario.nombre }} {{ viaje.usuario.apellido }}</h6>
          <p class="card-text">
            <strong>Fecha:</strong> {{ viaje.viaje.fecha | date:'short' }} <br>
            <strong>Distancia:</strong> {{ viaje.viaje.distancia }} <br>
            <strong>Duración:</strong> {{ viaje.viaje.duracion }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Mapa y "Información del Viaje" -->
  <div id="map" style="height: 500px; width: 100%;"></div>

  <div *ngIf="selectedViaje" class="info-card mt-4 p-3 border rounded">
    <h3>Información del Viaje</h3>
    <p>
      <strong>Origen:</strong> {{ origenDireccion }}
    </p>
    <p>
      <strong>Destino:</strong> {{ destinoDireccion }}
    </p>
    <p>
      <strong>Distancia:</strong> {{ distancia }}
    </p>
    <button (click)="resetViaje()" class="btn btn-primary mt-2">Reiniciar</button>
  </div>
</div>
